.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.container-buttons-btn-gradient {
  color: #fff;
  background-color: #191919;
  margin: 15px;
  padding: 10px 26px;
  border-radius: 2px;
  font-weight: bold;
  border: 1px solid #fff;
  transition: background 0.3s ease;
  text-decoration: none;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
}

.container-buttons-btn-gradient:hover {
  border: 1px solid #ea515b;
  opacity: 1;
}

.pressed-buttons {
  color: #fff;
  background-color: #191919;
  margin: 15px;
  padding: 10px 26px;
  border-radius: 2px;
  font-weight: bold;
  transition: background 0.3s ease;
  text-decoration: none;
  border: 1.5px solid #ea515b;
  opacity: 1;
}

/*video and photo productions styles*/

.productions-section-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 50px;
}

.productions-list-container {
  list-style-type: none;
}

.productions-list-item {
  position: relative;
  width: 480px;
  height: 270px;
  overflow: hidden;
}

.productions-list-item > img {
  width: 480px;
  height: 270px;
}
.productions-list-item-info {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
  width: 480px;
  height: 270px;
  color: #fff;
  content: initial;
  text-align: center;
}

.productions-list-item:hover .productions-list-item-info {
  display: block;
}

/*modal styles*/
.modal__bg {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.19);
  backdrop-filter: blur(6px);
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  z-index: 100;
}

.modal__align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal__content {
  width: 800px;
  height: 500px;
  margin: 0rem 4rem;
}

.modal__close {
  background-color: #ea515b;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 15px;
  float: right;
  width: 32px;
  height: 32px;
  padding: 0;
}

.modal__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*video productions special styles*/
.modal__video-align {
  display: flex;
  position: relative;
  bottom: 37px;
}

.modal__video-style {
  border-radius: 20px;
  z-index: 100;
}

/*photo productions special styles*/
.modal__photo-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal__photo-align > img {
  margin-top: 20px;
}

@media screen and (max-width: 499px) {
  .modal__photo-align {
    bottom: 0px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .modal__content {
    margin: 0rem 1rem;
    width: 100%;
  }
  .modal__video-style {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .modal__content {
    background: transparent;
    height: auto;
  }
  .modal__video-align {
    bottom: 0px;
  }

  .modal__close {
    float: none;
    top: 150px;
    left: 160px;
  }
}
