.video-section-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.video-list-container {
  list-style-type: none;
}

.video-list-item {
  position: relative;
  width: 300px;
  height: 255px;
  overflow: hidden;
  margin: 25px;
}

.video-list-item > img {
  width: 320px;
  height: 255px;
}
.video-list-item-info {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
  width: 300px;
  color: #fff;
  padding: 10px;
  content: initial;
  text-align: center;
}

.video-list-item:hover .video-list-item-info {
  display: block;
}
